# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.Plo
examples/.libs
*.Po
config.h
config.log
config.status
libtool
Makefile
pHash-config.h
pHash.pc
stamp-h1
stamp-h2
bindings/Makefile
bindings/java/Makefile
examples/Makefile
examples/test_audio
examples/test_image
examples/test_mhimagehash
examples/test_texthash
examples/test_texthash2
examples/test_video
src/Makefile
test_video2
